*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
button {
  cursor: pointer;
}
li{
  border-bottom: 1px ridge rgba(119, 122, 146, .3);
  padding: 20px;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: hsl(235, 21%, 11%);
  &.whiteMode{
    background-color:hsl(0, 0%, 98%) ;
  }
}

.bg {
  background: url(./images/bg-desktop-dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  &.whiteMode{
    background: url(./images/bg-desktop-light.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin: 0 auto 50px auto;
  padding-top: 100px;
  color: white;
  font-size: 30px;
}

.modeBtn{
  background: url(./images/icon-sun.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  &.whiteMode{
  background: url(./images/icon-moon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  }
}

.form {
  display: flex;
  width: 850px;
  justify-content: space-between;
  margin: 0 auto 30px auto;
}

.inputSave {
  outline: none;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color:hsl(235, 24%, 19%) ;
  padding-top:19px;
  padding-bottom: 19px;
  padding-left: 30px;
  width: 820px;
  position: relative;
  color: hsl(234, 39%, 85%);
  font-size: 20px;
  &.whiteMode{
    color: black;
    background-color:hsl(236, 33%, 92%);
  }
}

.btnSave{
  position: absolute;
  height: 60px;
  width: 50px;
  background-color:hsl(235, 24%, 19%);
  border: none;
  border-radius: 10px;
  right: 536px;
  border: 1px solid hsl(235, 21%, 11%);
  &.whiteMode{
    background-color:hsl(236, 33%, 92%);
    border: 1px solid hsl(0, 0%, 98%);
    &:hover {
      color: black;
    }
  }
}


.container {
  width: 850px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  background-color:hsl(235, 24%, 19%) ;
  border-radius: 10px 10px 0 0;
  &.whiteMode{
    background-color:hsl(236, 33%, 92%) ;
  }
}

.item {
  display: flex;
  justify-content: space-between;
}

.remove{
  background: url(./images/icon-cross.svg);
  background-color:hsl(235, 24%, 19%) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  padding:10px ;
  &.whiteMode{
  background-color:hsl(236, 33%, 92%) ;

  }
}

.footer {
  display: flex;
  width: 850px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background: hsl(235, 24%, 19%);
  height: 61px;
  color:hsl(233, 14%, 35%) ;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
  &.whiteMode{
    background: hsl(236, 33%, 92%);
    color:hsl(236, 9%, 61%) ;

  }
}

.footer p {
  margin-left: 20px;
}

.footer button {
  background: hsl(235, 24%, 19%);
  border: none;
  color:hsl(233, 14%, 35%) ;
  margin-right: 20px;
  &.whiteMode{
    background: white;
    color:hsl(236, 9%, 61%) ;
  }
}

button:hover{
  color: hsl(236, 33%, 92%);
  &.whiteMode{
    color:hsl(235, 19%, 35%);
  }
}

input[type=checkbox] {
  display: none;
}

.tasks {
  padding-left: 70px;
  position: relative;
  display: flex;
  font-size: 18px;
  text-transform: capitalize;
  color: hsl(234, 39%, 85%);
  align-items: center;
  cursor: pointer;
  &.whiteMode{
  color: hsl(235, 19%, 35%);

  }
}

label::before{
  content: '';
  background: url('./images/icon-check.svg');
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  transform: scale(0)rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
  z-index: 2;
}

input[type="checkbox"]:checked + label::before{
  transform: scale(1)rotateZ(0deg);
}

.tasks::after {
  content: '';
  border: 1px solid rgba(119, 122, 146, .3);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
}

input[type="checkbox"]:checked + label::after{
  background:linear-gradient( 120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

input[type="checkbox"]:checked + .tasks{
  color:rgba(77, 80, 102,.5) ;
  text-decoration: line-through
}

input[type="checkbox"]:checked + .tasks.whiteMode{
  color:rgba(147, 148, 165, .5) ;
  text-decoration: line-through
}

button.active {
  color: hsl(220, 98%, 61%);
  &.whiteMode{
  color: hsl(220, 98%, 61%);

  }
}

